body{
  margin:0;
  padding:0;
}
.container{
  overflow:hidden;
  width:860px;
  margin-left: 285px;
}
.box{
  width:200px;
  height:200px;
  float:left;
  background-color:#ccc;
  margin-bottom:20px;
}

.spacing{
  margin-right:20px;
}
